@model IEnumerable<Negociantes.Models.Reply>

@{
    ViewData["Title"] = "Reply";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Reply</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameFull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messenger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameFull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Messenger)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Subject)
            </td>
            <td>
                <a asp-action="EditReply" asp-route-id="@item.ReplyId">Edit</a> |
                <a asp-action="deleteReply" asp-route-id="@item.ReplyId" onclick='return confirm("Are You Sure?")'>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
